NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCdtfpYE3YNrcKJmt4SK0OTtSBuczsK85Q
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=marketplace-97508.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=marketplace-97508
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=marketplace-97508.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1077600070717
NEXT_PUBLIC_FIREBASE_APP_ID=1:1077600070717:web:9c13d13b0eaf7d3a17ce54
# ==================== CLOUDINARY CONFIGURATION ====================
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dkd6x857p
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=Andrew Cares Village Hub

# ==================== PAYSTACK CONFIGURATION ====================
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_4f982216f23d912048d00f1a9c9f77a7b54647bc
NEXT_RESEND_API_KEY=re_h7uv766m_HG4KUTNbG2Jj1rSCEKAiFp72
NEXT_PAYSTACK_SECRET_KEY=sk_test_137a945546b537e4953f53bcf4d4dfd89047c6a5